<!DOCTYPE html>
{{! Document Settings }}
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<script>
  // UNCOMMENT AND SUET YOUR VARIABLES FOR DISQUS AND GOOGLE ANALYTICS
  // var d_id  = 'adasdaasd',
</script>

{{! Page Meta }}
<title>{{meta_title}}</title>
<meta name="description" content="{{meta_description}}"/>

{{! Styles }}
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,700|Lato:400|Inconsolata:400' rel='stylesheet'
      type='text/css'>
<link href="http://cdn.staticfile.org/font-awesome/4.0.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{{asset "highlighter/prettify.css"}}"/>
<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}"/>

{{! Responsive Meta Tags }}
<meta name="HandheldFriendly" content="True"/>
<meta name="MobileOptimized" content="320"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{{ghost_head}}

<body class="{{body_class}}">
  {{{customSiteHtml}}}
  {{{body}}}
  {{ghost_foot}}
  {{! Scripts }}
  <script type='text/javascript' src='/assets/highlighter/prettify.js'></script>
  <script type='text/javascript' src='/assets/js/all.min.js'></script>

  {{> google-analytics}}
</body>
