{{!< default}}
{{> header}}
<div class="wrapper_magnum">
  <main class="main_magnum" role="main">
    {{#post}}
      <article class="article_magnum" role="article" itemscope itemtype="http://schema.org/Article">
        <header class="postheader_magnum">
          <h1 class="posttitle_magnum" itemprop="headline" id="header">{{title}}</h1>
        </header>
        <div class="postcontent_magnum" itemprop="articleBody">
          {{content}}
        </div>
        <footer class="article_meta_magnum">
          <div class="half">
            <div>
              <span class="dimmed">Posted on </span>
              <time class="date_magnum" datetime="{{date format="YYYY-MM-DD"}}"
                    itemprop="datePublished">{{date format='MM-DD-YYYY'}}</time>
            </div>
            {{#if tags}}
              <div>
                <span class="dimmed"> Tagged in </span>
                <span> {{tags separator=" , "}}</span>
              </div>
            {{/if}}
          </div>
        </footer>
      </article>
    {{/post}}
  </main>
</div>
{{> footer}}
